body {
    background-color: pink;
}
/* .header {
    background: url(../img/bg-header.jpeg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  } */

  .header .navbar {
    background-color: transparent !important;
  }

  .encima{
      position: relative;
      z-index: 1029;
      color:aquamarine;
  }